<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORUM | Bienvenue</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <header></header>
    
    <div class="main-part">
        <div class="legende">Bienvenue!</div>
        <div class="smallTitle" style="font-size:3rem; margin-top: 7.5rem;">Merci de votre inscription</div>
        <a href="/" class="btn" style="text-decoration: none;">Retour</a>
    </div>

    <footer>
        <div class="copyright">&copy Evan, Quentin, Daryl Forum project, Zone01 Rouen.</div>
    </footer>
    
</body>

</html>